.git
.gitignore
*.md
.env*
.idea/
.vscode/
node_modules
dist
**/target
**/build
!*/build/libs/*.jar
**/__pycache__
*.pyc
.dart_tool/
.packages
.venv/
.pytest_cache/
chroma_db/
deployment/
!deployment/container/
